<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Mongoose</title>
  </head>
  <body>
    <fieldset>
      <legend>Add Mongoose</legend>
        <form action="/" method="post">
          <p><label>Name: <input type="text" name="name"></label></p>
          <p><label>Personality: <input type="text" name="personality"></label></p>
          <input type="submit" value-"Add a Mongoose!">
        </form>
    </fieldset>
  </body>
</html>
