<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Mongoose</title>
  </head>
  <body>
    <h1><%= mongoose.name %></h1>
    <h3>personality: <%= mongoose.personality %></h3>
    <a href="/">Home</a>
    <a href="/mongooses/edit/<%= mongoose._id %>">Edit Mongoose</a>
  </body>
</html>
