<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dojo_secrets/css/main.css' %}">
    <title>Most Popular Secrets</title>
  </head>
  <body>
    {% for secret in secrets %}
    <p>{{secret.post}} <small>Posted at: {{secret.created_at}}</small>: {{secret.total_likes}} Likes
      {% if user.id == secret.user.id %} <strong> You Posted This </strong> <a href="{% url 'delete_secret' id=secret.id %}">Delete Secret</a>
      {% elif user.id in secret.liked_by %} <strong> You Already Liked This </strong>
      {% else %} <a href="{% url 'like' secret_id=secret.id %}">Like This</a> {% endif %}
    </p>
    {% endfor %}
  </body>
</html>
