<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dojo_secrets/css/main.css' %}">
    <title>Secrets</title>
  </head>
    <div id="#wrapper">
      <div id="main_container">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <small><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></small>
          {% endfor %}
        </ul>
        {% endif %}
        <fieldset id="welcome">
          <legend><h2><strong>Welcome</strong></h2></legend>
          <h4><strong>{{user.username}}</strong></h4>
          <h5>Post Your Secrets!</h5>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout">
          </form>
        </fieldset>
        <a href="{% url 'popular_secrets' %}">Most Popular</a>
        <form action="{% url 'post_secret' %}" method="POST">
          {% csrf_token %}
          <textarea name="secret" rows="4" cols="80" type="text" placeholder="Enter secret..."></textarea><br>
          <input type="Submit" value="Post Secret">
        </form>
        {% for secret in secrets %}
        <p>{{secret.post}} <small>Posted at: {{secret.created_at}}</small>: {{secret.total_likes}} Likes
          {% if user.id == secret.user.id %} <strong> You Posted This </strong> <a href="{% url 'delete_secret' id=secret.id %}">Delete Secret</a>
          {% elif user.id in secret.liked_by %} <strong> You Already Liked This </strong>
          {% else %} <a href="{% url 'like' secret_id=secret.id %}">Like This</a> {% endif %}
        </p>
        {% endfor %}
      </div>
    </div>
  <body>

  </body>
</html>
