<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'beltreview/css/main.css' %}">
    <title>{{book.title}}</title>
  </head>
  <body>
    <header>
      <h1>Welcome : {{user.username}} </h1>
      <!-- <div class="nav_top"> -->
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'show_add_book' %}">Add Book and Review</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      <!-- </div> -->
    </header>
    <h1>Book Title: {{book.title}}</h1>
    <h2>Author Name: {{book.author.name}}</h2>
    <h3>Reviews: </h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <small><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></small>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="col_2">
      <hr>
      {% for review in reviews %}
      <p>Rating: <span class="stars">{{review.stars}}</span></p>
      <p><a href="{% url 'show_user' id=review.user.id %}">{{review.user.username}}</a> says: {{review.content}}</p>
      {% if user.id == review.user.id %}
        <form action="{% url 'delete_review' id=review.id %}" method='POST'>
          {% csrf_token %}
          <input type="submit" value="delete review">
        </form>
      {% endif %}
      <hr>
      {% endfor %}
    </div>

    <div class="col_2 left">
      <fieldset>
        <legend>Add a Review!</legend>
        <form action="{% url 'add_review' id=book.id %}" method="post">
          {% csrf_token %}
          <label for="review">Review: <br><textarea name="review" rows="8" cols="80"></textarea></label><br>
          <label for="rating">Rating: <input type="number" name="rating" min="1" max="5"></label><br><br>
          <input type="submit" value ="Submit Review">
        </form>
      </fieldset>
    </div>

  </body>
</html>
