<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h3>Survery Info</h3>
    <p>Name: <%= survey_info.name %></p>
    <p>Fav Marvel Hero: <%= survey_info.fav_marvel_hero %></p>
    <p>Fav DC Hero: <%= survey_info.fav_dc_hero %></p>
    <p>Comment: <%= survey_info.comment %></p>
    <button><a href="/">Back</a></button>
  </body>
</html>
