<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
      $(document).ready(function() {
        // triggers connection event
        var socket = io.connect();

        $('button').click(function(){
          socket.emit("button_clicked", {reason: "because it button man, gotta click it!"});
        });
        socket.on('server_response', function (data){
          console.log("server...says...."+data.response);
        });

      });
    </script>
    <title>Socket Test</title>
  </head>
  <body>
    <h1>Socket Test</h1>
    <button>I AM BUTTON!</button>
  </body>
</html>
