<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_registration/css/main.css' %}">
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><small>{{ message }}</small></li>
      {% endfor %}
    </ul>
    {% endif %}
    <h1>Welcome {{ request.session.logged_user.username }}</h1>
    <h3>Name: {{ request.session.logged_user.first_name }} {{ request.session.logged_user.last_name }}</h3>
    <table>
      <thead>
        <th>Email</th><th>Birthday</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ request.session.logged_user.email }}</td>
          <td>{{ request.session.logged_user.birthday }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
