<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id=#main_container>

      <h1>I am Batman!</h1>
      <h3> Welcome to My Portfolio</h3>

      <div class="main_content">
        <div>
          <a href="/projects">Projects</a>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do e</p>
          </div>
        </div>
        <div>
          <a href="/aboutme">About Me</a>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do e</p>
          </div>
        </div>
        <div>
          <a href="/testimonials">testimonials</a>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do e</p>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
