<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dojo Survey</title>
  </head>
  <body>
    <h1>Teenage Mutant Ninja Turtles!</h1>
    <ul>
      <li><a href="/ninjas">All Ninja</a></li>
      <li><a href="/ninjas/blue" class="blue">Blue Ninja</a></li>
      <li><a href="/ninjas/orange" class="orange">Orange Ninja</a></li>
      <li><a href="/ninjas/red" class="red">Red Ninja</a></li>
      <li><a href="/ninjas/purple" class="purple">Purple Ninja</a></li>
    </ul>
  </body>
</html>
