*{
  margin: 0;
  padding: 0;
}


img {
//  width: 20%;
  margin: 0 auto;
  height: 150px;
}

#houses {
  text-align:center;
}

#wrapper {
  width: 100%;
}

#info_box {
  width: 50%;
  text-align: center;
  margin: 20px auto;  
}

#sMembers li {
  display: inline-block;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}
