<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Great Number Game</title>
  </head>
  <body>
    <div id="#wrapper">
      <h1>Great Number Game</h1>
      <h3>I am thinking of a number between 1 and 10</h3>
      <h3>Take a guess!</h3>
      <div id="win_lose_box" class="{{color}}">
        <h2 class="white">{{guess}}</h2>
        <h2 class="white">{{congrats}}</h2>
        <form class="{{hide}}" action='/reset' method='post'>
          <input type='submit' value='try again'>
        </form>
      </div>
      <form action="/guess" method='post'>
        <input type='number' max='10' min='1' name='num_guess' placerholder='enter number'>
        <input type='submit' value='submit'>
      </form>
      <!-- <form class="{{hide}}" action='/reset' method='post'>
        <input type='submit' value='try again'>
      </form> -->
    </div>
  </body>
</html>
